/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #00274C;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #777 3px solid;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
}
header li {
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a {
    color: #00274C;
    font-weight: bold;
}
header a:hover {
    color: #ffffff;
    font-weight: bold;
}

/* Style adjustments for the contact form */
.contact-form {
    background: #f9f9f9;
    padding: 15px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    max-width: 600px;
    margin: 20px auto;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Makes sure the padding doesn't affect the overall width */
    margin-bottom: 10px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button[type="submit"] {
    background: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form button[type="submit"]:hover {
    background: #777777;
}

/* Ensure the button text is centered */
.contact-form button[type="submit"] {
    width: 100%;
    box-sizing: border-box;
}
