.signup-page {
    font-family: 'Arial', sans-serif;
    background: url('https://images.pexels.com/photos/6147276/pexels-photo-6147276.jpeg') no-repeat center center fixed;
    background-size: cover;
  }