@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  @apply relative inline-block;
}

.nav-link::after {
  content: '';
  @apply absolute w-0 h-0.5 bg-white transition-all duration-300 ease-in-out;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  @apply w-full;
  left: 0;
  transform: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  right: 0;
  min-width: 150px;
  border-radius: 0.25rem;
  z-index: 50;
}

.dropdown-menu a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}